/*
Table of content
-1- Variables
-2- General
-3- Nav menu
-4- Main general
-5- Main specific
-6- Footer
*/

/* -1- Variable */

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&family=Bebas+Neue&family=Encode+Sans+SC:wght@700&display=swap');

:root {
    /*color*/
    --black: #0A090C;
    --black-with-shading: rgba(10, 9, 12, 0.5);
    --white: #F0EDEE;
    --green-black: #07393C;
    --ming-color: #2C666E;
    --light-blue: #90DDF0;
    /*fonts*/
    --plus-font: 'Encode Sans SC', sans-serif;
}

/* -2- General */

* {
    margin: 0;
    padding: 0;
    font-family: Barlow, DIN;
    color: var(--black);
    background-color: var(--white);
    text-align: center ;
}

html, body {
    margin: 0;
    height: 100%;
}

p, h1, h2, h3, a {
    background-color: transparent;
}

body {
    display: grid;
    grid-template-areas: 
    "nav main"
    "nav footer";
    grid-template-rows: auto 3em;
    grid-template-columns: 1fr 7fr;
    background-size: cover;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

/* -3- Nav Menu */

nav {
    display: grid;
    grid-template-rows: 1fr 1fr 2fr 1fr;
    grid-template-columns: 1fr;
}

nav h1 {
    font-family: var(--plus-font);
}

nav a {
    background-color: transparent;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
}

.logo {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.logo img {
    min-width: fit-content;
    min-height: auto;
}

.titre-profession {
    grid-column: 1;
    grid-row: 2;
    padding-left: 1rem;
}

.titre-profession h1:nth-child(2) {
    color: var(--green-black);
    text-align: right;
    margin-right: 1rem;
}

.menu {
    grid-column: 1;
    grid-row: 3;
}

.menu li {
    text-align: center;
    padding-top: 1rem;
    width: auto;
    height: 2em;
    border-radius: 1em;
    border-width: 1rem;
    font-size: large;
    font-weight: 600;
}

.menu li.curent {
    background: radial-gradient(var(--light-blue), var(--green-black));
}

/* -4- Main general */

main {
    display: grid;
    padding-left: 5rem;
    padding-right: 5rem;
    min-width: 20rem;
    overflow: auto;
}

main::-webkit-scrollbar {
    width: 1rem;
} 

main::-webkit-scrollbar-track {
    box-shadow: 0 0 0.5rem var(--green-black);
}

main::-webkit-scrollbar-thumb {
    background-color: var(--green-black);
    outline: 1px solid var(--ming-color);
}

main h1 {
    background: linear-gradient(to right, var(--light-blue), var(--green-black));
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    border-width: 1rem;
}

.background {
    display: none;
}

/* -5- Main specific */

/* Index.html */

div.photo img {
    max-width: 8rem;
    max-height: 8rem;
    border-radius: 5rem;
    border-width: 5rem;
    margin-top: -5rem;
}

.promo {
    border-radius: 1rem;
    border-width: 1rem;
    box-shadow: 0.5rem 0.5rem 0.5rem var(--black);
    width: fit-content;
    padding: 1rem;
    background-color: var(--ming-color);
    margin: 10rem auto;
}

#sous-titre-acceuil h2 {
    font-family: var(--plus-font);
}

div.photo {
    background-color: transparent;
}

#sous-titre-acceuil {
    background-color: var(--light-blue);
    border-radius: 1rem;
    border-width: 1rem;
    margin-bottom: 1rem;
}

.content-acceuil {
    background-color: var(--light-blue);
    border-radius: 1rem;
    border-width: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.content-acceuil>* {
    padding-right: 1rem;
    padding-left: 1rem;
}

.content-acceuil p {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-style: italic;
}

.content-acceuil ul li {
    font-style: italic;
    font-stretch: semi-expanded;
    background-color: var(--light-blue);
}

.content-acceuil ul {
    background-color: transparent;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.content-acceuil .impact {
    font-family: var(--plus-font);
    font-size: x-large;
    font-style: normal;
    margin-bottom: 1rem;
}

.content-acceuil form {
    background-color: transparent;
}

#bouton-contact { 
    font-size: 1rem;
    text-align: center;
    width: 6rem;
    height: 3rem;
    border-width:1px;
    color: var(--white);
    border-color: var(--green-black);
    font-weight: 300;
    border-radius: 1rem;
    box-shadow: 3px 4px 0px 0px var(--ming-color);
    background:linear-gradient(var(--ming-color), var(--green-black));
    margin-bottom: 1rem;
}

#bouton-contact:hover {
    background: var(--ming-color);
}

#bouton-contact:active {
    box-shadow: 1px 1px 0px 0px var(--ming-color);
    transform: translateY(3px);
}

/* projet.html */

.projets {
    display: flex;
}

.box {
    display: grid;
    width: min-content;
    height: 20rem;
    background-color: var(--light-blue);
    color: var(--white);
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 1rem;
    border-width: 1rem;
    margin: 1rem 1rem 1rem 1rem;
    box-shadow: 0.5rem 0.5rem 0.5rem var(--black);
}

.boximage img {
    max-width: 15rem;
    max-height: 15rem;
}

.boximage , .box h3 , .box h4 {
    background-color: transparent;
}

.boximage {
    background-color: var(--light-blue);
    border-radius: 1rem;
    border-width: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    transition: all 0.3s ease-out;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--black-with-shading);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }

  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: var(--white);
    border-radius: 5px;
    width: 60%;
    position: relative;
    transition: all 3s ease-in-out;
    max-width: 50rem;
  }
  
  .popup h2 {
    margin-top: 0;
    color: var(--green-black);
    font-family: Tahoma, Arial, sans-serif;
  }

  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
    background-color: transparent;
  }

  .popup .close:hover {
    color: var(--white);
  }

  .popup .content {
    max-height: 30%;
    overflow: auto;
    background-color: transparent;
    padding-left: 1rem;
  }

  .content p {
      text-align: justify;
  }

  .content h3 {
      margin-bottom: 1rem;
  }

  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }

/* contact.html */

textarea, input {
    resize: none;
    text-align: left;
}

.contact h2, .top-form, form { 
    display: inline;
}

.contact {
    display: inline-block;
    padding: 1rem;
    border-radius: 1rem;
    border-width: 1rem;
    background-color: var(--light-blue);
    box-shadow: 0.5rem 0.5rem 0.5rem var(--black);
}

.contact > *, label, .top-form {
    background-color: transparent;
    font-weight: bold;
}

#submit-form {
    background-color: var(--green-black);
    border: none;
    color: var(--white);
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: large;
    margin-top: 1rem;
    border-radius: 0.3rem;
    box-shadow: 0 0.4rem var(--black);
}

#submit-form:hover {
    background-color: var(--ming-color);
}

#submit-form:active {
    box-shadow: 0 0.2rem var(--black);
    transform: translateY(0.2rem);
}

/* biographie.html */

main section li {
    list-style-type: none;
}

.cat-bio {
    margin: 3rem;
    height: 25rem;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items:center;
    border-radius: 1rem;
    border-width: 1rem;
    background-color: var(--light-blue);
    box-shadow: 0.5rem 0.5rem 0.5rem var(--black);
}

#travail {
    flex-direction: row-reverse;
}

.cat-bio img {
    max-width: 30rem;
    max-height: 90%;
    border-radius: 1rem;
    border-width: 1rem;
    margin: 1rem;
}

.cat-bio * {
    background-color: transparent;
}

.cat-bio h3 {
    font-size: 1.4rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    background-image: radial-gradient(var(--light-blue), var(--ming-color));
}

.cat-bio-text {
    margin: 1rem;
    border-radius: 1rem;
    border-width: 1rem;
    background-color: var(--ming-color);
}

.bio-liste {
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    border-width: 1rem;
    background-color: var(--light-blue);
    
}

.bio-liste li {
    margin-bottom: 0.5rem;
}

.bio-liste h4 {
    font-weight: bold;
}

.bio-liste p {
    font-size: small;
}

/* -4- Footer */

footer {
    display: flex;
    flex-direction: row;
    font-size: x-small;
    justify-content: space-between;
    box-shadow: 0.5rem 0.5rem 0.5rem var(--black);
}

footer p {
    position: absolute;
    bottom: 0;
    right: 0;
}

.menu-externe {
    display: flex;
    flex-direction: row;
}

.menu-externe > * {
    align-self: center;
    padding-right: 3rem;
}

.menu-externe img {
    max-width: 3em;
    max-height: 3em;
}

.menu-externe li {
    list-style-type: none;
}

